
.home-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  .home-card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: rgb(170, 169, 169); */
    padding: 16px;
    border-radius: 1px;
    color: #111;
    border: 2px solid #eaeaea;
  }
  
  .home-card-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
  }
  
  .home-card-items-container{
    max-width: 273px;
    display: flex;
    flex-wrap: wrap;
    gap :12px;
  }
  
  .home-card-items{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .home-card-redirect{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 4px; */
    /* background-color: #ffffff; */
    color: blue;
    /* border-radius: 2px; */
    cursor: pointer;
  }
  
  .home-card-redirect:hover{
    color: #c7501f;
  }
  
  .home-card-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 2px; */
  }
  
  .home-card-items-title{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #0f1111;
  }




